* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-top: 0px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    /* background-color: transparent !important; */

    /* background-color: aqua; */
    /* overflow:hidden; */
    display: flex;
    align-content: space-between;
    flex-direction: row;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* border: 2px solid red; */
    width: 100%;
    margin: auto;
}

nav {
    /* padding: 2px; */
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    /* box-shadow: 2px 2px 2px; */
    align-items: center;
    /* align-content: center; */
    background-color: rgba(14, 1, 1, 0.482);
}

@media (max-width:993px) {

    .main-menua,
    .social-link {
        display: none;
    }

    nav {
        position: relative;
        background-color: black;
        /* color: red; */

    }

}

.main-menua ul li a {
    text-decoration: none;
    color: white;
}

.main-menua ul li {
    list-style: none;
    margin: 5px;
    padding: 5px;
}

.main-menua ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: content;
    align-content: space-between;

}



.social-link ul li i {
    color: white;
}

.social-link ul li {
    list-style: none;
    margin: 5px;
    padding-right: 5px;
    /* color: black; */
}

.social-link ul {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 5px;
}
body
{
    background-color: #f1f1f1;
}

.container-fluid1 {
    background-image: url(./imaages/bg-title-page-02.jpg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.inner {
    height: 500px;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

.inner h2 {
    font-size: 4em;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

/* reservation table */

.reservation-table-container h4 {
    text-align: center;
    font-size: 4em;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
}

.reservation-table-container h3 {
    color: red;
    text-align: center;
    font-style: italic;
}

.container
{
    width:80%;
}


.reservation-table {
    padding-bottom: 100px;
    padding-top: 100px;
}

.reservation-table-container .select,
.reservation-table-container .time {
    border: 1px solid black;
    padding-bottom: 20px;
    padding-right: 10px;
    border-radius: 10px;
}
.reservation-table-container select

{
    border-radius: 5px;
    /* width: 100%; */
}

.reservation-table-container select {
    /* padding: 10px; */
    margin-top: 5px;
    margin-left: 10px;
    /* border-radius: 2px; */
}
@media screen and (max-width:991px) {
    
    .reservation-table-container input {
        width: 50%;
    }

}
/* @media scren  */
.reservation-table-container input {
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.reservation-table-container button {
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.reservation-table-container .col-lg-12 {
    display: flex;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* section 2 */
.last-sec-text h4
{
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    color: #333333;
    letter-spacing: 3px;
}
.last-sec-text p span
{
    color: red;
}
.last-sec-text p
{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    margin-top: 30px;
    line-height: 1.7;
    color: #666666;
    padding-right: 12%;
    padding-left: 1%;
}


/* footer */
footer {
    background-color: black;
    color: white;
}

footer .container {
    width: 70%;

}

.footer-container h5 {
    margin-top: 10px;
}

.footer-container h4 {
    margin-bottom: 40px;
}

.footer-container ul {
    /* display: flex; */
    margin-top: 50px 0px 0px 0px;
    /* margin: ; */
    padding: 0px;
}

.footer-container li i {
    padding-top: 2px;
}

.footer-container li a {
    color: red;
    text-decoration: none;
}

.footer-container .col-3 img {
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.footer-container li {
    list-style: none;
    align-items: start;
    display: flex;
    font-family: Montserrat;
    gap: 10px;
    color: #999999;

}