* {
    margin: 0;
    padding: 0;
}

.navbar {
    margin-top: 0px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    /* background-color: transparent !important; */

    /* background-color: aqua; */
    /* overflow:hidden; */
    display: flex;
    align-content: space-between;
    flex-direction: row;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* border: 2px solid red; */
    width: 100%;
    margin: auto;
}

nav {
    /* padding: 2px; */
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    /* box-shadow: 2px 2px 2px; */
    align-items: center;
    /* align-content: center; */
    background-color: rgba(14, 1, 1, 0.482);
}

@media (max-width:993px) {

    .main-menua,
    .social-link {
        display: none;
    }
    nav{
    position: relative;
    background-color:black;
    /* color: red; */

    }

}

.main-menua ul li a {
    text-decoration: none;
    color: white;
}

.main-menua ul li {
    list-style: none;
    margin: 5px;
    padding: 5px;
}

.main-menua ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: content;
    align-content: space-between;

}

main img {
    transition-duration: 1s;
}

main img:hover {
    scale: 102%;
}

.social-link ul li i {
    color: white;
}

.social-link ul li {
    list-style: none;
    margin: 5px;
    padding-right: 5px;
    /* color: black; */
}

.social-link ul {
    display: flex;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 5px;
}

.carousel-inner {
    position: relative;

    /* z-index: 2; */
}

.slide-text {
    position: absolute;
    z-index: 1000;
    top: 30%;
    /* left: 30%; */
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    color: white;
    width: 100%;
}

.slide-text h3 {
    letter-spacing: 2px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.slide-text button {
    background-color: white;
    color: red;
    border-radius: 8px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width:350px)  {
    .slide-text {
        /* top: 60%; */
        /* margin-top: px; */
        display: none;
    }


}
@media (min-width:350px) and (max-width:700px) {
    .slide-text h3,.slide-text h2{
        /* top: 60%; */
        /* margin-top: px; */
        display: none;
    }
    .slide-text button{
        /* top: 70%; */
        margin-top: 5%;
        /* display: none; */
    }

}

.slide-text h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 4em;
    font-weight: 600;
}

.image-col {
    text-align: center;
}

.image-col img {
    /* width: fit-content; */
    width: 70%;
    height: auto;
    border-radius: 30px;
    /* padding: 5vh; */
    margin: 2vh;
    /* margin: auto; */
    /* align-items: center; */
}

.h-text {
    /* height: 100% !important; */
    /* display: block; */
    /* width: 70%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 0;
    /* margin-top: 200px; */
}

.texth {
    width: 80%;
    /* color: #666666; */
    /* margin:50px; */
    height: 100%;
    margin: auto;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* display: flex;
    display: flex !important; */

}

.tel h3 {
    color: red;
    font-style: italic;
}

.texth p {
    color: #666666;
}

.tel a {
    text-decoration: none;
    color: #666666;
}

.cont {
    margin-top: 10vh;
}

.conta h4 {
    font-style: italic;
    color: red;

    font-family: Courgette;
}

.conta h3 {
    /* font-style: italic; */
    font-size: 4rem;
    color: white;
    font-weight: 600;
    letter-spacing: 1vh;
    font-family: Courgette;
}

.conta {
    margin-top: 10vh;
    /* border: 2px solid red; */
    text-align: center;
    display: flex;
    justify-content: center;
    height: 50vh;
    align-items: center;
    background-image: url(https://preview.colorlib.com/theme/pato/images/bg-intro-01.jpg.webp);
    color: white;
    background-attachment: fixed;
    background-size: cover;
    /* background-size:; */
    background-repeat: no-repeat;
    background-position: center center;
}

.card-s {
    justify-content: center;
    /* justify-content: space-between; */
    margin: 10rem;
    margin: auto;
    justify-content: space-evenly;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-s .card {
    border: 0px;

}

.card-s .card-body {
    margin-left: 0px;
    padding-left: 0;
    margin-top: 1.2rem;
}

.colimgn img {
    width: 100%;
    border-radius: 10px;
}

.colimg {
    width: 100%;
    /* padding: 1.5rem; */
}

.colimg img {
    width: 100%;
    border-radius: 20px;
}

.colimgs img {
    width: 100%;
    margin-bottom: 1.4rem;
    /* margin: auto; */
    /* margin-top: 1 px; */
    border-radius: 10px;
}

.t-center {
    /* border: 2px solid red; */
    text-align: center;
}

.t-center1 {
    color: red;
    font-style: italic;
    margin: 2%;
}

.t-center2 {
    /* color: red; */
    /* font-style: italic; */
    font-size: 40px;
    letter-spacing: 2px;
    margin: 2%;
}

/* .fls .colimgs 
{
    width: 100%;
} */

/* .fls {
    display: flex; */
/* flex-wrap: wrap; */
/* flex-direction: row;
} */

/* @media screen and (max-width:800px) {
    .fls {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    .colimgs img {
        width: 100%;
    }

} */
/* .colimg,.colimgs
{
    position: relative;
} */
.colimg,
.colimgs,
.colimgn {
    z-index: 1;
    position: relative;
}

.btn-class h5 {}

.btn-class {
    /* display: flex; */
    top: 50%;
    left: 40%;
    z-index: 2;
    position: absolute;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* padding: 10%; */
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: large;
    background-color: #efebe8ed;
    /* background-image: linear-gradient(white,rgb(241, 203, 203)); */
}

.btn-class:hover {
    background-color: rgba(255, 0, 0, 0.769);
}

.upcoming-event-section {
    background-image: url(https://preview.colorlib.com/theme/pato/images/bg-event-04.jpg.webp);
    /* background-position: center; */
    /* height: 1000px; */
    padding: 20px;
    background-size: cover;
    background-position: bottom center;
}

.upcoming-event-container-text h3 {
    text-transform: uppercase;
}

.event-text1 {
    padding-top: 40px;
    color: red;
    text-align: center;
    font-style: italic;
    font-family: Courgette;
}

.event-text2 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}

.upcoming-inner h5,
.upcoming-inner p {
    color: white;
    text-align: center;
}

.container-image {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.container-image img {
    width: 100%;
    /* align-items: start !important; */
    
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;


    /* padding-bottom: 10px; */
    /* margin-bottom: 10px; */
}

.container-upcoming-event {
    background-color: white;
    border-radius: 10px !important;
    box-shadow: 10px 10px 10px;
}

.upcoming-event-container-text p {
    color: #7586b1;
}

.upcoming-event-container-text {
    display: flex;
    flex-direction: column;
    /* margin-top: ; */
    padding-top: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    /* background-color: white; */

}

.upcoming-event-container-text .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
}

.upcoming-event-container-text h1 {
    font-weight: normal;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.upcoming-event-container-text li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 0.25em;
    margin-right: 2rem;
    text-transform: uppercase;
}

.upcoming-event-container-text li span {
    display: block;
    color: red;
    /* padding-right: 10%; */
    font-size: 3rem;
}

.upcoming-event-container-text .emoji {
    display: none;
    padding: 1rem;
}

.upcoming-event-container-text .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
}

@media all and (max-width: 768px) {
    .upcoming-event-container-text h1 {
        font-size: calc(1.5rem * var(--smaller));
    }

    .upcoming-event-container-text li {
        font-size: calc(1.125rem * var(--smaller));
    }

    .upcoming-event-container-text li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}

/* general styling */
/* :root {
      --smaller: .75;
    }
    
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    html, body {
      height: 100%;
      margin: 0;
    }
    
    body {
      align-items: center;
      background-color: #ffd54f;
      display: flex;
      font-family: -apple-system, 
        BlinkMacSystemFont, 
        "Segoe UI", 
        Roboto, 
        Oxygen-Sans, 
        Ubuntu, 
        Cantarell, 
        "Helvetica Neue", 
        sans-serif;
    }
     */
.reservation-table-container h4 {
    text-align: center;
}

.reservation-table-container h3 {
    color: red;
    text-align: center;
    font-style: italic;
}

.reservation-table-container {
    width: 75% !important;
}

.reservation-table-container .images {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.reservation-table-container img {
    padding-top: 10px;
    width: 70%;
    /* display: flex; */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.reservation-table {
    padding-bottom: 100px;
    padding-top: 100px;
}

.reservation-table-container .select,
.reservation-table-container .time {
    border: 1px solid black;
    padding-bottom: 20px;
    padding-right: 10px;
    border-radius: 10px;
}

.reservation-table-container select {
    /* padding: 10px; */
    margin-top: 5px;
    margin-left: 10px;
    /* border-radius: 2px; */
}

.reservation-table-container input {
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.reservation-table-container button {
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.reservation-table-container .col-lg-12 {
    display: flex;
    margin-top: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.customers-review h3 {
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.customers-review h4 {
    text-align: center;
    color: red;
    font-style: italic;
    font-family: Courgette;

}

.customers-review img {
    width: 100px;
    border-radius: 100%;
    border: 3px solid red;

}

.customers-review .images {
    text-align: center;

}

.review-text p {
    font-size: 18px;
    font-weight: 400;
    margin: auto;
    max-width: 890px;
    line-height: 1.7;
    font-family: Montserrat;
    letter-spacing: 2px;

}

.review-text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.star-5 {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.review-name {
    text-align: center;
}

.our-vedio {
    background-image: url(./imaages/bg-cover-video-02.jpg.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.carousel-item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* SPECIALS SIGN UP */
.special-sing-up input {
    border-radius: 10px;
    padding-left: 10px;
    width: 250px;
    color: black;
}

.special-sing-up h4 {
    padding-top: 10px;
    align-items: center;
    letter-spacing: 3px;
    font-family: Poppins;
}

.special-sing-up button {
    border-radius: 10px;
    padding: 8px 20px 8px 20px;
    color: white;
    background-color: black;
}

.special-sing-up {
    display: flex;
    padding: 100px 0px 100px 0px;
    justify-content: center;
    /* flex-basis: 10px; */
    gap: 20px;
}

.special-sing-up-sec {
    background-color: #efefef;
}

@media (max-width:1000px) {
    .special-sing-up input {
        height: 50px;
    }

    .special-sing-up {
        flex-direction: column;
        /* display: flex; */

        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .special-sing-up-sec {

        align-items: center;
        text-align: center;
        justify-content: center;
    }

}

/* footer */
footer
{
    background-color: black;
    color: white;
}
footer .container {
    width: 70%;
    
}
.footer-container h5
{
    margin-top: 10px;
}
.footer-container h4
{
    margin-bottom: 40px;
}
.footer-container ul{
    /* display: flex; */
    margin-top: 50px 0px 0px 0px;
    /* margin: ; */
    padding: 0px;
}
.footer-container li i{
    padding-top: 2px;
}
.footer-container li a
{
    color: red;
    text-decoration: none;
}
.footer-container .col-3 img {
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}
.footer-container li{
    list-style: none;
    align-items: start;
    display: flex;
    font-family: Montserrat;
    gap: 10px;
    color: #999999;

}